{% extends 'base_generic.html' %}
{% load static %}

{% block title %}
  <title>Consumption Dashboard</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="text-center">Consumption Dashboard</h1>

  <form class="form-inline mb-3 justify-content-center">
    <div class="form-group mr-2">
      <label for="device-name" class="sr-only">Device Name:</label>
      <input type="text" class="form-control" id="device-name" name="device_name" placeholder="Device Name" value="{{ device_name }}">
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
  </form>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Device</th>
          <th>Last Updated</th>
          <th>Consumption</th>
        </tr>
      </thead>
      <tbody>
        {% for record in consumption_records %}
          <tr>
            <td>{{ record.device.name }}</td>
            <td>{{ record.last_updated }}</td>
            <td>{{ record.value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  
</div>
{% endblock %}