{% extends "base_generic.html" %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container mx-auto px-4 mt-6">

    <div class="flex justify-end mb-4">
      <form action="" method="get" class="flex items-center">
        <input type="text" id="search_word" name="search_word" class="form-input mr-2 border rounded-lg p-2" value="{{ search_word }}" placeholder="Enter search term">
        <button type="submit" class="btn btn-primary bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Search</button>
      </form>
    </div>

    <h2 class="text-2xl font-semibold mt-5">Dynamic Content</h2>
    <p>The smart house has the following:</p>
    <ul class="list-disc list-inside mt-2">
      <li><strong>Rooms:</strong> {{ num_rooms }}</li>
      <li><strong>Devices:</strong> {{ num_devices }}</li>
      <li><strong>Active Devices:</strong> {{ num_devices_active }}</li>
      <li><strong>Device Types:</strong> {{ num_device_types }}</li>
    </ul>

    {% if search_word %}
    <h2 class="text-2xl font-semibold mt-5">Search Results</h2>
    <ul class="list-disc list-inside mt-2">
      <li><strong>Rooms containing "{{ search_word }}":</strong> {{ num_rooms_containing }}</li>
      <li><strong>Devices containing "{{ search_word }}":</strong> {{ num_devices_containing }}</li>
    </ul>
    {% endif %}
  </div>
{% endblock %}