{% extends 'base_generic.html' %}

{% block content %}
  <div class="flex flex-col items-center mt-16">
    <form method="post" class="flex flex-col items-center">
      {% csrf_token %}
<div class="mb-4 w-full max-w-xs">
    <label for="id_username" class="block text-base font-medium text-gray-700 mb-2">Username</label> 
    {{ form.username }}
</div>
<div class="mb-4 w-full max-w-xs">
    <label for="id_password" class="block text-base font-medium text-gray-700 mb-2">Password</label> 
    {{ form.password }}
</div>
      <button type="submit" class="bg-blue-500 text-white py-2 px-6 rounded shadow transition-transform duration-300 hover:bg-blue-600 hover:translate-y-1">Login</button>
      <div class="button-container flex justify-center mt-4 space-x-2 flex-wrap">
        <a href="{% url 'register' %}">
          <button type="button" class="bg-gray-500 text-white py-2 px-6 rounded shadow transition-transform duration-300 hover:bg-gray-600 hover:translate-y-1">Register</button>
        </a>
        <a href="{% url 'guest' %}">
          <button type="button" class="bg-gray-500 text-white py-2 px-6 rounded shadow transition-transform duration-300 hover:bg-gray-600 hover:translate-y-1">Continue as Guest</button>
        </a>
        <a href="{% url 'home' %}">
          <button type="button" class="bg-gray-500 text-white py-2 px-6 rounded shadow transition-transform duration-300 hover:bg-gray-600 hover:translate-y-1">Go to Home</button>
        </a>
      </div>
    </form>
  </div>
{% endblock %}