{% extends 'base_generic.html' %}

{% block content %}
  <style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }
    button:hover {
        background-color: #0056b3;
    }
    .error-message {
        color: #dc3545;
        margin-top: 5px;
    }
  </style>
  <form method="post" id="register-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>
{% endblock %}