{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="container mx-auto mt-8 px-4">
  <h1 class="text-3xl font-bold text-center mb-4">{{ room.name }}</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      {% if room.image %}
      <img src="{{ room.image.url }}" class="img-fluid rounded-lg shadow-md" alt="{{ room.name }}">
      {% else %}
      <img src="{% static 'images/default_room.png' %}" class="img-fluid rounded-lg shadow-md" alt="{{ room.name }}">
      {% endif %}
    </div>
    <div>
      <p class="text-lg mb-4">{{ room.description }}</p>
      <p class="font-semibold">
        <strong>Number of Devices:</strong> {{ device_count }}
      </p>
      <p class="font-semibold mt-4">Devices in this Room:</p>
      <ul class="list-disc list-inside">
        {% for device in devices %}
          <li>
            <a href="{% url 'device-detail' device.id %}" class="text-blue-500 hover:underline">{{ device.name }}</a>
          </li>
        {% empty %}
          <li>No devices found.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}