{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Delete Device</h1>
      <p>Are you sure you want to delete the device: "{{ object.name }}"?</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm</button>
        <a href="{% url 'devices' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}