{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<style>
.device-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.device-control-button {
  margin-top: 1rem;
}

.device-control-button .btn {
  display: block;
  width: 100%;
}
</style>
<div class="container">
  <h1>Device Details</h1>

  <div class="device-details">
    <div class="device-info">
      <h2>{{ device.name }}</h2>
      <p>Model: {{ device.model }}</p>
      <p>Manufacturer: {{ device.manufacturer }}</p>
      <p>Firmware: {{ device.firmware }}</p>
      <p>Serial Number: {{ device.serial_number }}</p>
      <p>Status: {% if device.is_active %}Active{% else %}Not Active{% endif %}</p>
      <p>Room: {{ device.room }} </p>
      <p>Device Type: {{ device.get_device_type_display }}</p>
    </div>

    <div class="device-image">
      {% if device.image %}
        <img src="{{ device.image.url }}" alt="{{ device.name }} Image">
      {% else %}
        <img src="{% static 'images/default_device.svg' %}" alt="Default Device Image">
      {% endif %}
      <div class="device-control-button">
        <a href="{% url 'device-control' device.pk %}" class="btn btn-primary">Control Device</a>
      </div>
    </div>
  </div>

  <div class="device-description">
    <h3>Description</h3>
    <p>{{ device.description }}</p>
  </div>

  <div class="device-specifications">
    <h3>Specifications</h3>
    <ul>
      <li>Created : {{ device.last_connected|date:'Y-m-d H:i:s' }}</li>
    </ul>
  </div>

  <div class="device-actions">
    <a href="{% url 'device-update' device.pk %}" class="btn btn-primary">Edit Device</a>
    <a href="{% url 'device-delete' device.pk %}" class="btn btn-danger">Delete Device</a>
  </div>
</div>
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/device_detail.css' %}">
{% endblock %}