{% extends "base_generic.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container mx-auto mt-4 px-4">
    <div class="text-center">
        <h1 class="text-3xl font-bold">Update Device</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="mb-4">
                    <label for="{{ field.id_for_label }}" class="block text-m font-medium mb-1">{{ field.label }}:</label>
                    {{ field }}  <!-- Render the field with the classes added in the view -->
                </div>
            {% endfor %}

            <div class="mb-4 flex items-center">
                <input type="checkbox" class="mr-2" id="id_is_active" name="is_active" {% if form.instance.is_active %}checked{% endif %}>
                <label class="text-m font-medium" for="id_is_active">Is Active</label>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition">Save</button>
                <a href="{% url 'devices' %}" class="bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded hover:bg-gray-400 transition">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}